*.o
*.a
test_runner
test_lib
demo
atoitest
bench_asm
finance_manager
hash_test
reverse_test
test_finance
test_macro
testcat.c
a.out
test_cat
test_upper
test_chr
test_ncpy
testcat
Easy-Fasm-Lib/

# User test files
test_odd
test_pow2
test_rchr
test_rchr.*
test_shift
test_shift.c
testpov.c
test.c